



<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "Categories", categories_path, :class => "btn btn-default" %></td>
        <td><em><small>Budget categories</small></em></td>
      </tr>
      <tr>
        <td><%= link_to "Buget", incomes_path, :class => "btn btn-default" %></td>
        <td><em><small>Update budeget/sources for category</small></em></td>
      </tr>
      <tr>
        <td><%= link_to "Transactions", transactions_path, :class => "btn btn-default" %></td>
        <td><em><small>Show all transactions</small></em></td>
      </tr>
      
    </tbody>
  </table>
</div>  






