
<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

